@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  position: relative;
}

a {
  text-decoration: none;
  display: block;
}

/*
 * CUSTOM STYLE SHEET
 */
/*** Variables ***/
/* Colors: */
/* Viewport: Breakpoints */
/* Container */
/* Centered Container Elements */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Logo letter Spacing */
.logo {
  letter-spacing: 0.3rem;
}

/* Navbar */
.navbar_custom {
  background-color: #e26a2c !important;
  color: #ffffff;
}

.NavLink {
  background-color: transparent;
}
.NavLink:hover {
  color: #181c24;
}

.activeLinkTabKeeper {
  width: auto;
  height: 2px;
  border: 1px solid #535965;
}

.active {
  background-color: transparent;
  padding-top: 1em;
  border-radius: 0% !important;
  border-bottom: 0.43rem solid #ffd07f;
  border-bottom-style: ridge;
}

/*
  * Home Styling
  */
.leftCaption {
  background: transparent linear-gradient(181deg, rgba(241, 241, 241, 0) 0%, #f0f0f0 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
}

/* Slider */
.swiper-container {
  height: 570px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiperSlideDiv {
  position: relative;
  width: 100%;
}

.swiperSlideImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiperSlideText {
  color: #ffffff;
  position: absolute;
  top: 161px;
  left: 151px;
  font-weight: 600;
  width: 442px;
  height: 126px;
  color: #181c24;
  text-align: left;
  letter-spacing: 0px;
  color: #172026;
  opacity: 1;
  font: normal normal 600 48px/60px Source Serif Pro;
  z-index: 99;
}
.swiperSlideText span {
  font-size: 48px;
}
@media only screen and (max-width: 480px) {
  .swiperSlideText {
    top: 270px;
    left: 16px;
    width: 341px;
    font-weight: 600;
    height: 98px;
    text-align: center;
    font: normal normal 600 36px/45px Source Serif Pro;
    letter-spacing: 0px;
    color: #1b252c;
    opacity: 1;
  }
  .swiperSlideText span {
    font-size: 36px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .swiperSlideText {
    top: 120px;
    left: 76px;
    width: 451px;
  }
}

.swiperSlideSubText {
  position: relative;
  font-size: 16px;
  top: 305px;
  left: 151px;
  width: 442px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  z-index: 99;
}
@media only screen and (max-width: 480px) {
  .swiperSlideSubText {
    top: 368px;
    left: 16px;
    width: 341px;
    height: 44px;
    text-align: center;
    font: normal normal normal 16px/24px Muli;
    letter-spacing: 0.32px;
    color: #1b252c;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    opacity: 1;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .swiperSlideSubText {
    top: 298px;
    left: 78px;
    text-align: center;
    width: 400px;
  }
}

.swiperSlideButton {
  position: absolute;
  top: 394px;
  left: 151px;
  width: 220px;
  height: 40px;
  background-color: #e26a2c;
  color: white;
  z-index: 99;
}
@media only screen and (max-width: 480px) {
  .swiperSlideButton {
    top: 444px;
    left: 78px;
  }
}
.swiperSlideButton:hover {
  background-color: #ffd07f;
  color: black;
  border: 1px solid #e26a2c;
}

@media screen and (max-width: 768px) {
  .hideInSmallScreen {
    height: 0;
  }
}

@media screen and (max-width: 768px) {
  .phone_flex_col {
    display: flex !important;
    flex-direction: column;
    justify-items: center;
    overflow-x: hidden;
  }
}

.hoverImageScaleZoomOut {
  transition: transform 0.9s;
}
.hoverImageScaleZoomOut:hover {
  transform: scale(0.95);
  overflow: hidden;
}

.homeCategoriesComponent {
  position: absolute;
  top: 610px;
  z-index: 101;
  height: 33vh;
}
@media screen and (max-width: 768px) {
  .homeCategoriesComponent {
    top: 570px;
  }
}
.homeCategoriesComponent .homeCategoriesImage {
  height: 341px !important;
}
@media screen and (max-width: 768px) {
  .homeCategoriesComponent .homeCategoriesImage {
    height: 267px;
  }
}
.homeCategoriesComponent .homeCategoriesImageCaptions {
  position: relative;
  top: -90px;
  margin-bottom: -90px;
  background: rgba(27, 37, 44, 0.8509803922) 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 90px;
  width: auto;
  border-bottom: 8px solid #e26a2c;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .homeCategoriesComponent .homeCategoriesImageCaptions {
    width: 342px;
  }
}
.homeCategoriesComponent .homeCategoriesImageCaptions h3 {
  color: white;
  padding: 17px 17px 0 38px;
  text-align: left;
  font: normal normal 600 24px/30px Source Serif Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  overflow: hidden;
}
.homeCategoriesComponent .homeCategoriesImageCaptions .category-caption-2 {
  color: white;
  padding-left: 38px;
  padding-bottom: 21px;
}

.home-section-three {
  position: relative;
  top: 259px;
  height: 450px;
}
@media screen and (max-width: 768px) {
  .home-section-three .container {
    padding: 0 !important;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {
  .home-section-three {
    top: 245px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2550px) {
  .home-section-three {
    top: 300px;
  }
}
@media screen and (max-width: 480px) {
  .home-section-three {
    top: 1240px;
    width: 342px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .home-section-three {
    top: 1225px;
  }
}
.home-section-three .section-three-image {
  height: 450px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home-section-three .section-three-image {
    height: 312px;
    width: 100%;
  }
}

.section-three-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}
.section-three-text h1 {
  color: #181c24;
  text-align: left;
  letter-spacing: 0px;
  color: #172026;
  opacity: 1;
  font: normal normal 600 48px/60px Source Serif Pro;
  z-index: 99;
  font-size: 48px;
}
.section-three-text h2 {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .section-three-text {
    width: 344px !important;
  }
  .section-three-text h1 {
    margin-top: 16px;
    font-size: 36px;
    text-align: center;
    font: normal normal 600 36px/45px Source Serif Pro;
    letter-spacing: 0px;
    color: #1b252c;
    opacity: 1;
  }
  .section-three-text h2 {
    text-align: center;
  }
  .section-three-text p {
    display: -webkit-box;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.organgeButtonFilled {
  background-color: #e26a2c;
  color: white;
  width: 220px;
  height: 40px;
}
.organgeButtonFilled:hover {
  color: #181c24;
  background-color: #ffd07f;
  border: 1px solid #e26a2c;
}

.organgeButtonOutline {
  border: 2px solid #e26a2c;
  color: #e26a2c;
  width: 220px;
  height: 40px;
}
.organgeButtonOutline:hover {
  color: #181c24;
  background-color: #fda65d;
  border: 1px solid #e26a2c;
}

.breaker-hr-orangeBar {
  height: 8px;
  background-color: #e26a2c;
  width: 102px;
}
@media only screen and (max-width: 480px) {
  .breaker-hr-orangeBar {
    width: 78px;
  }
}

.home-section-four {
  position: relative;
  top: 289px;
  height: 450px;
}
@media screen and (max-width: 768px) {
  .home-section-four .container {
    padding: 0 !important;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2550px) {
  .home-section-four {
    top: 400px;
    margin-bottom: -400px;
  }
}
@media screen and (max-width: 768px) {
  .home-section-four {
    top: 1550px;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-section-four {
    top: 725px;
  }
}
.home-section-four .section-four-image {
  height: 450px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home-section-four .section-four-image {
    height: 312px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.home-section-four .section-four-textBox {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-section-four .section-four-textBox h1 {
  color: white;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  font: normal normal 600 48px/60px Source Serif Pro;
  z-index: 99;
  font-size: 36px;
}
.home-section-four .section-four-textBox h2 {
  color: white;
  padding: 1.75em;
}

.shopDeviceBTN {
  color: white;
  border: 2px solid white;
}
.shopDeviceBTN:hover {
  color: #e26a2c;
  background-color: #ffffff;
  border: 2px solid #e26a2c;
}

.categoryTitle {
  height: 352px;
  background-color: #1b252c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.categoryTitle .categoryTitleBorderBottom {
  padding-bottom: 1rem;
  border-bottom: 8px solid #e26a2c;
}
@media screen and (max-width: 768px) {
  .categoryTitle .categoryTitleBorderBottom {
    padding-bottom: 0.25rem;
  }
}
.categoryTitle .categoryTitleText {
  font-size: 48px !important;
  color: white;
  text-align: center;
  font: normal normal 600 48px/60px Source Serif Pro;
  letter-spacing: 0px;
}
@media screen and (max-width: 768px) {
  .categoryTitle .categoryTitleText {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 768px) {
  .categoryTitle {
    height: 159px;
    position: relative;
    top: 80px;
    margin: 0px 16px 0px 16px;
  }
}

.categoryBannerImager img {
  width: 100%;
  height: 352px !important;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .categoryBannerImager {
    height: 193px !important;
  }
}

@media screen and (max-width: 768px) {
  .categoryTopHeaderRow .aem-Grid {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .categoryTopHeaderRow {
    height: 272px !important;
  }
}

@media screen and (max-width: 768px) {
  .mainCategory {
    margin-top: 150px !important;
  }
}

.productCard {
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.productCard .productImage {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e7;
}
.productCard .productImage img {
  height: 382px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .productCard .productImage img {
    height: 196px !important;
  }
}
.productCard .productName {
  padding-left: 8px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.productCard .productPrice {
  padding-left: 8px;
}
.productCard .addToCartWithHeart {
  padding-left: 8px;
}

.productContainer {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .productContainer {
    flex-direction: column-reverse;
  }
}

.productThumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
@media screen and (max-width: 480px) {
  .productThumbnails {
    flex-direction: row;
    padding-top: 8px;
  }
}

.productThumbnails li {
  flex: auto;
  z-index: 5;
}

.productThumbnails a {
  display: block;
}

.productThumbnails img {
  width: 120px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 480px) {
  .productThumbnails img {
    width: 100%;
  }
}

.productproductSlides {
  overflow: hidden;
}

.productproductSlides,
.productproductSlides li {
  max-height: 24rem;
}

.productproductSlides img {
  max-height: 24rem;
  -o-object-fit: contain;
  object-fit: contain;
  align-items: center;
}
.productproductSlides li {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.productproductSlides li:target {
  z-index: 3;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@-webkit-keyframes hidden {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 2;
  }
}
@keyframes hidden {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 2;
  }
}
.productproductSlides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

.productPaginationImage {
  width: 343px;
  height: 410px;
}

.quantity-counter {
  width: 114px;
  height: 36px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 0.25em;
  border: 1px solid #91959c;
}
@media screen and (max-width: 480px) {
  .quantity-counter {
    width: 169px;
  }
}

.orange_border_product {
  width: 102px;
  height: 8px;
  /* UI Properties */
  background: #e26a2c 0% 0% no-repeat padding-box;
  opacity: 1;
}

.quantity-counter-cart {
  width: 88px;
  height: 36px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 0.25em;
  border: 1px solid #91959c;
}
@media screen and (max-width: 480px) {
  .quantity-counter-cart {
    width: 80px;
  }
}

.table:where(:not(.table-zebra)) :where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
  border-bottom-width: 0px !important;
}

.setCartItemsHeight {
  min-height: 400px;
}
@media screen and (max-width: 768px) {
  .setCartItemsHeight {
    margin-top: 30px;
    min-height: auto;
  }
}

.continueShoppingButton {
  border: 1px solid #e26a2c;
  color: #e26a2c;
  padding: 0.25em;
}
.continueShoppingButton:hover {
  background-color: #e26a2c;
  border: 1px solid black;
  color: white;
}

/* Common Components */
.menu-compact li {
  z-index: 999 !important;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #e26a2c transparent #ff8243 transparent;
  border-radius: 50%;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}

.footerStyle {
  height: 183px;
  position: relative;
  bottom: 0;
}

.reverseFlexRow {
  display: flex;
  flex-direction: row-reverse;
}

.filterBox .justify-start-box {
  justify-content: flex-start !important;
  padding-left: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #91959c !important;
}

.read-or-hide {
  cursor: pointer;
}

.paypalButtonFilled {
  background-color: #ffc43a;
  color: white;
  width: 220px;
  height: 40px;
}
.paypalButtonFilled:hover {
  color: #181c24;
  background-color: #ffd07f;
  border: 1px solid #ffc43a;
}

.orangeBannerBox {
  background: #ff8243 0% 0% no-repeat padding-box;
  border: 1px solid #d1d3d6;
  color: white;
  border-radius: 2px;
  opacity: 1;
}
.orangeBannerBox .socialMedia {
  background: #ff8243 0% 0% no-repeat padding-box;
  border: 1px solid #d1d3d6;
  border-radius: 2px;
  opacity: 1;
  width: 49px;
  height: 49px;
}/*# sourceMappingURL=main.css.map */